.coin-button {
    margin-bottom: 10px;
    margin-right: 10px;
}

.fab-overall {
    position: fixed !important;
    top: 80px;
    right: 20px;
}
.fab-negative {
    position: fixed !important;
    top: 80px;
    left: 20px;
}
.fab-positive {
    position: fixed !important;
    top: 80px;
    right: 20px;
}