
<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
        <mat-card>
            <div class="form-group">
                <h2 style="text-align:center;">Home</h2>
            </div>
            <!-- Text area -->

            <!-- Button -->
            
            <mat-card-content class="mx-2 mt-3 mb-4" fxLayoutAlign="center none">
                <h4>Token: {{ token }}</h4>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content class="mx-2 mt-3 mb-4" fxLayoutAlign="center none">
                <h4>Sentiment: {{ sentiment }}</h4>
            </mat-card-content>
        </mat-card>
    </div>
</div>